body {
    background-color: #000033;
    font-family: "Helvetica", sans-serif;
    color: #FFFFFF;
}
#titlebar {
    background-color: #000088;
    padding: 20px 0px 20px 0px;
    min-width: 800px;
}
#logo {
    display: inline-block;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 50px;
}
#nav {
    display: inline-block;
}
.navitem {
    display: inline-block;
    margin-right: 30px;
    padding: 0 10px 0 10px;
    border-width: 0 2px 0 2px;
    border-color: #AAAAFF;
    border-style: solid;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}
.navitem a {
    color: #FFFFFF;
    text-decoration: none;
}
.navitem a:hover {
    color: #AAAAFF;
}
#content {
    margin: auto;
    padding: 80px;
    min-width: 748px;
    max-width: 956px;
}
.header1 {
    display: inline-block;
    float: left;
    clear: both;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 40px;
}
.header2 {
    clear: both;
    color: #AAAAAA;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 20px;
}
.header3 {
    font-size: 12px;
    color: #888888;
    margin-bottom: 10px;
}
.div-title {
    margin-bottom: 10px;
}
.listbox {
    clear: both;
    overflow-y: auto;
}
.listbox-item {
    position: relative;
    display: inline-block;
    margin: 2px;
    text-align: center;
    z-index: 1;
    background-color: #777777;
}
.listbox-item a {
    position: relative;
    left: 0;
    top: 0;
    display: table-cell;
    vertical-align: middle;
    color: #FFFFFF;
    text-decoration: none;
    width: 80px;
    height: 80px;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    z-index: 2;
    /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    background:rgba(0, 0, 0, 0.7);
}

.listbox-button {
    cursor: pointer;
    cursor: hand;
}
.listbox-button a:hover {
    background:rgba(0, 0, 0, 0.4);
}

.listbox-item-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.listbox-item-greyed a {
    background:rgba(0, 0, 0, 0.9);
    color: #555555;
}

.listbox-item-added a {
    background:rgba(195, 221, 195, 0.7);
    color: #444444;
}

.listbox-item-added a:hover {
    background:rgba(195, 221, 195, 0.7);
}

.listbox-item-delete {
    position: absolute;
    bottom: 10px;
    left: 40%;
    width: 20%;
    z-index: 3;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    background-color: #FF0000;
    cursor: hand;
    cursor: pointer;
}
.listbox-item-delete:hover {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.listbox-add {
    background-color: #555555;
}
.listbox-add a {
    color: #888888;
    font-size: 40px;
}
.listbox-divider {
    min-height: 80px;
    padding: 10px;
    background-color: #111111;
    margin: 0 0 10px 0;
}
.button {
    display: inline-block;
    height: 15px;
    padding: 5px;
    line-height: 15px;
    font-size: 10px;
    border: #888888 2px solid;
    color: #CCCCCC;
    background-color: #000044;
    cursor: pointer; cursor: hand;
}
.button:hover {
    background-color: #000066;
}
.button-bad {
    background-color: #880000;
}
.button-bad:hover {
    background-color: #AA0000;
}
.button-good {
    background-color: #008800;
}
.button-good:hover {
    background-color: #00AA00;
}
.tabbar {
    width: 100%;
    display: block;
    text-align: center;
    border-width: 0px 0 2px 0;
    border-color: #FFFFFF;
    border-style: solid;
}
.tab {
    margin: auto;
    float: left;
    display: inline-block;
    padding: 5px 20px 5px 20px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    cursor: hand;
    text-transform: uppercase;
    font-weight: bold;
}
.tab:hover {
    color: #BBBBBB;
}
.tab-current {
    background-color: #FFFFFF;
    color: #333333;
    cursor: auto;
}
.tab-current:hover {
    color: #333333;
}
.popup {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.8);
}
.popup-content {
    margin: auto;
    margin-top: 150px;
    padding: 40px;
    min-width: 750px;
    max-width: 800px;
    border: 2px #8888CC solid;
    background-color: #000033;
}
.popup-title {
    float: left;
    clear: none;
}
.popup-titleimage {
    float: left;
    clear: left;
    margin-right: 20px;
    height: 30px;
}
.popup-close, .popup-confirm {
    float: right;
    margin-left: 10px;
}
.popup-section {
    padding-bottom: 20px;
    border-bottom: 1px #8888CC solid;
    margin-bottom: 20px;
}
.text-entry {
    background-color: #AAAACC;
    border: 1px #8888CC solid;
    border-radius: 5px;
    height: 30px;
}

.text-entry input {
    display: block;
    width: 98%;
    border-width: 0;
    padding: 0 1% 0 1%;
    background-color: transparent;
    height: 100%;
    font-size: 15px;
}

.text-entry-watermark {
    color: #888888;
}