#summary {
    background-color: #020E26;
    padding: 20px;
    padding-bottom: 80px;
    width: 100%;
}
#summary .header1 {
    margin-bottom: 20px;
}
#summary .stat {
    font-size: 12px;
    display: inline-block;
    float: left;
    color: #E3C180;
    margin-right: 20px;
}
.tabbar {
    position: relative;
    margin: auto;
    width: 100%;
    margin-bottom: 5px;
}
#tabpage_players a {
    display: inline-block;
    width: 33%;
    margin: 0.25% 0 0.25% 0;
    float: left;
}
#tabpage_players a:nth-child(3n+2) {
    margin-left: 0.5%;
    margin-right: 0.5%;
}
.player_name {
    display: block;
    background-color: #E38080;
    color: #710C0C;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 0 5px 20px;
}
.lanes {
    display: table;
    float: left;
    width: 100%;
    background-color: #FFCBCB;
}
.lanes .lane {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 5px 0 5px 0;
}
.lanes .lane .header3 {
    margin-bottom: 5px;
    padding: 2px;
    color: #710C0C;
    font-size: 10px;
}
.lanes .lane .number {
    color: #390000;
    font-weight: bold;
    font-size: 12px;
}
#add_player {
    float: right;
    clear: both;
}

#comp_types .comp-label {
    float: left;
    margin: 0 50px 0 20px;
}
#comp_types .comp-label a {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    height: 100px;
    font-weight: bold;
    width: 100px;
    font-size: 20px;
}
#comp_types .strength_selector {
    float: right;
    display: inline-block;
}
#comp_types .strength_selector .listbox-button a {
    font-size: 40px;
    color: #333333;
}
#comp_types .strength_selector .listbox-button a:hover {
    color: #AAAAAA;
}
#comp_types .strength_selector .listbox-button-active a {
    color: #FFFFFF;
}
#comp_types .strength_selector .listbox-button-active .S, #comp_types .strength_selector .listbox-button-active .S:hover {
    background-color: #CC0000;
}
#comp_types .strength_selector .listbox-button-active .A, #comp_types .strength_selector .listbox-button-active .A:hover {
    background-color: #FF9900;
}
#comp_types .strength_selector .listbox-button-active .B, #comp_types .strength_selector .listbox-button-active .B:hover {
    background-color: #007700;
}
#comp_types .strength_selector .listbox-button-active .C, #comp_types .strength_selector .listbox-button-active .C:hover {
    background-color: #0000AA;
}
#comp_types .strength_selector .listbox-button-active .D, #comp_types .strength_selector .listbox-button-active .D:hover {
    background-color: #660066;
}
#comp_types .strength_selector .listbox-button-active  {
    cursor: default;
}
#comp_types .strength_selector .listbox-button-active a:hover  {
    color: #FFFFFF;
}